.time {
    align-self: center;
    text-align: right;
}

html {
    width: 950px;
    margin: auto;
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    opacity: 0.85;
    }

.head {
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: solid;
}

.content {
    padding-top: 20px;
    padding-bottom: 1px;
}

p {
    font-size: 60px;
    font-weight: bold;
}

button {
    background-color: lightseagreen; 
    color: black; 
  }
  
button:hover {
    background-color: darkslategray;;
    color: white;
}

.save {
    border-radius: 6px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}
